*.swp
*config.js
*node_modules/
.DS_Store
*.sublime-project
*.sublime-workspace
*angular/
*mean/
*box2d/
*css/
marionettejs/marionettejs-collection-view/app/*bower_components/
marionettejs/marionettejs-collection-view/*bower_components/
marionettejs/marionettejs-collection-view/*node_modules/
marionettejs/*marionettejs-svg/
marionettejs/*marionettejs-mongodb/
marionettejs/*test/