<a href="#/new" id="addHeroBtn" class="btn">add hero</a> <a href="#" id="removeAllHeroesBtn" class="btn btn-danger" style="float: right">remove all</a>
<hr />
<table class="table striped">
  <thead>
    <tr>
      <th>#</th><th>Name</th><th>Race</th><th>Class</th>
    </tr>
  </thead>
  <tbody id="users"></tbody>
</table>
<hr />
<p id="verifyFeedback">After you've created all of the heroes, click verify to see if you've assembled the right ring party</p>
<a href="#" id="verifyBtn" class="btn btn-primary">verify</a>
