<form class="edit-user-form">
  <legend><%= data.userModel ? 'Edit' : 'New' %> Adventurer</legend>
    <label>Name</label>
    <input name="name" id="userName" type="text" value="<%= data.userModel ? data.userModel.get('name') : '' %>">
    <label>Race</label>
    <select>
    <% data._.each( data.races, function(race, index)  {  %>
        <option value="<%= index %>" <%= race.isSelected %> ><%= race.title %></option>
    <%  });  %>
    </select>
    <label>Class</label>
    <select >
      <% data._.each( data.professions, function(profession, index)  {  %>
          <option value="<%= index %>" <%= profession.isSelected %> ><%= profession.title %></option>
      <%  });  %>
    </select>
    <hr />
    <button type="submit" class="btn"><%= data.userModel ? 'Update' : 'Create' %></button>
    <button type="button" id="cancelBtn" class="btn">Cancel</button>
    <% if(data.userModel) { %>
    <input type="hidden" name="id" value="<%= data.userModel.id %>" />
    <button data-user-id="<%= data.userModel.id %>" class="btn btn-danger delete">Delete</button>
    <% }; %>
    <label id="serverMessage"></label>
</form>