<form class="edit-user-form">
  <legend><%= data.userModel ? 'Edit' : 'New' %> Hero</legend>
    <label>Name</label>
    <select id="userNameList">
    <% data._.each( data.characters, function(character, index)  {  %>
        <option value="<%= index %>" <%= character.isSelected %> ><%= character.name %></option>
    <%  });  %>
    </select>
    <label>Race</label>
    <select id="userRaceList">
    <% data._.each( data.races, function(race, index)  {  %>
        <option value="<%= index %>" <%= race.isSelected %> ><%= race.title %></option>
    <%  });  %>
    </select>
    <label>Class</label>
    <select id="userClassList">
      <% data._.each( data.professions, function(profession, index)  {  %>
          <option value="<%= index %>" <%= profession.isSelected %> ><%= profession.title %></option>
      <%  });  %>
    </select>
     <hr />
    <button type="submit" class="btn"><%= data.userModel ? 'Update' : 'Create' %></button>
    <button type="button" id="cancelBtn" class="btn">Cancel</button>
    <% if(data.userModel) { %>
    <input type="hidden" name="id" value="<%= data.userModel.id %>" />
    <button data-user-id="<%= data.userModel.id %>" class="btn btn-danger delete">Delete</button>
    <% }; %>
    
</form>
 <p id="editFeedback"></p>